/ start l-contents
.l-container.u-clear
  / start l-main
  %main.l-main.js-main
    .l-main-block
    .page-number
      Page
      %span= "#{@current_page}/#{@total_pages}"
    .archive
      %ul.archive-list
        - @articles.each do |article|
          %li.archive-item
            %article.card
              %a.card-link{:href => article_path(article.id)}
                %img.card-image{:alt => "", :src => article.image.attached? ? url_for(article.image) : asset_path("sample1.jpg")}/
                .card-bottom
                  %h1.card-title= article.title
                  %time.card-date{:datetime => article.created_at.strftime('%F')}
                    = article.created_at.strftime("%d %b, %Y")

    = paginate @articles
    / end l-main
/ end l-contents
